body {
  background-color: #fafafa;
}

.my-container {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

.my-dropdown:hover .my-dropdown-menu {
  display: block;
}