{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block content %}
	<h1 class="border-green-400 border-solid border-b-4 text-3xl mb-4">Les meilleurs restos</h1>
	<div class="grid gap-4 grid-cols-3">
		{% for rest in rests %}
			<div class="bg-gray-100 p-6 rounded-lg">
				<img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
				<h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">NOTE MOYENNE :
					{{ rest.average ? (rest.average / rating_on * 100) ~ '/100' : 'N/A' }}</h3>
				<a href="{{ path('restaurant-view', {'id': rest.id}) }}" class="text-lg text-gray-900 font-medium title-font mb-4">{{ rest.name }}</a>
				<p class="leading-relaxed text-base">{{ rest.description|slice(0, 30)|trim }}...</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
